 
{% extends 'base.html' %}
{% block content %}
{{block.super}}

<div class="container-fluid" style="text-align:center;">
    <p style="text-align:right; color:grey;">{{date|date:"l d-F Y"}}</p>

<div class="jumbotron text-center bg-info">
    <h1>Welcome to Our Groceries!</h1>
    <p>"The heart of a happy and nutritrious meal!"</p> 
</div>


<div class="row">
    {% for post in image %}
        <div class="col-md-3">
            <div class="card" style="width:250px;">
                <div class="card-header bg-info text-white">
                  <p>{{post.description}}</p>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../static/images/images (4).jpeg" class="center">
                     
                </div>
                <div class="card-footer">
                    <p>Kes {{post.price}}</p>
                </div>
            </div><br>
        </div>
        <div class="col-md-3">
            <div class="card" style="width:250px;">
                <div class="card-header bg-info text-white">
                  <p>{{post.description}}</p>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../static/images/images (5).jpeg" class="center">
                     
                </div>
                <div class="card-footer">
                    <p>Kes {{post.price}}</p>
                </div>
            </div><br>
        </div>
        <div class="col-md-3">
            <div class="card" style="width:250px;">
                <div class="card-header bg-info text-white">
                  <p>{{post.description}}</p>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../static/images/images (3).jpeg" class="center">
                     
                </div>
                <div class="card-footer">
                    <p>Kes {{post.price}}</p>
                </div>
            </div><br>
        </div>
    {% endfor %}
</div>

<div class="jumbotron text-center bg-warning">
        <h1>Welcome to Our Groceries!</h1>
        <p>"The heart of a happy and nutritrious meal!"</p> 
</div>

<div class="row">
    {% for post in product %}
        <div class="col-md-3">
            <div class="card" style="width:250px;">
                <div class="card-header bg-warning text-white">
                    <p>{{post.description}}</p>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="../static/images/_2.jpg" class="center">
                     
                </div>
                <div class="card-footer">
                    <p>Kes {{post.price}}</p>
                </div>
            </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width:250px;">
            <div class="card-header bg-warning text-white">
                <p>{{post.description}}</p>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="../static/images/451.jpg" class="center">
                     
            </div>
            <div class="card-footer">
                <p>Kes {{post.price}}</p>
            </div>
        </div>
   </div>
   <div class="col-md-3">
    <div class="card" style="width:250px;">
        <div class="card-header bg-info text-white">
          <p>{{post.description}}</p>
        </div>
        <div class="card-body">
            <img class="card-img-top" src="../static/images/_w.jpg" class="center">
             
        </div>
        <div class="card-footer">
            <p>Kes {{post.price}}</p>
        </div>
    </div><br>
</div> 
{% endfor %}
</div>

<div class="jumbotron text-center bg-danger text-white">
        <h1>Welcome to our Groceries!</h1>
        <p>"The heart of a happy and nutritious meal!"</p> 
</div>

<div class="row">
    {% for post in produce %}
        <div class="col-md-3">
            <div class="card" style="width:250px;">
                <div class="card-header bg-danger text-white">
                    <p>{{post.description}}</p>
                </div>
                <div class="card-body">
                    
                    <img class="card-img-top" src="../static/images/images (1).jpeg" class="center">
                     
                </div>
                <div class="card-footer">
                    <p>Kes {{post.price}}</p>
                </div>
            </div><br>
    </div>
    <div class="col-md-3">
        <div class="card" style="width:250px;">
            <div class="card-header bg-info text-white">
              <p>{{post.description}}</p>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="../static/images/images (2).jpeg" class="center">
                 
            </div>
            <div class="card-footer">
                <p>Kes {{post.price}}</p>
            </div>
        </div><br>
    </div>
    <div class="col-md-3">
        <div class="card" style="width:250px;">
            <div class="card-header bg-info text-white">
              <p>{{post.description}}</p>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="../static/images/images (3).jpeg" class="center">
                 
            </div>
            <div class="card-footer">
                <p>Kes {{post.price}}</p>
            </div>
        </div><br>
    </div>
{% endfor %}
</div>

</div>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>


</html>